<!-- Navbar -->
<nav class="navbar navbar-inverse">
    <!-- logo & title-->
    <img src="/assets/img/logo1.png" height="180" class="d-inline-block align-top mx-auto" alt="">
</nav>

<!-- body -->
<div class="container my-5">
    <div class="row">

        <!-- Left side : New Burgers-->
        <div class="col">
            <div class="card">
                <div class="card-header text-center">
                    <h4>New Burgers</h4>
                </div>
                <div class="card-body">

                    {{#each undevouredList}}
                        <div>
                            <p>{{id}}.) {{burger_name}}
                                <button class="btn btn-sm btn-outline-danger m-1 devour-btn float-right"
                                        data-burger="{{id}}">Devour<i class="fas fa-utensils ml-2"></i>


                                </button>
                            </p>
                        </div>
                    {{/each }}
                 </div>
            </div>
        </div>

        <!-- Right side : Devoured-->
        <div class="col">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Devoured</h4>
                </div>
                <div class="card-body">

                    {{#each devouredList}}
                        <div>{{id}}.) {{burger_name}}</div>
                    {{/each }}
                </div>
            </div>
        </div>

    </div>

    <!-- Insert Burger Name -->
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Add burger name here" aria-label="Burger Name" id="burgerName">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" id="addBurger">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>